.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
	margin-top: 90px;
	margin-bottom: 90px;
}

.dog, .cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.dog div, .cat div {
    padding: 10px;
}

.dog div img, .cat div img{
    width: 100%;
    height: auto;
}

.container{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.container p {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

button {
	background-color: #E5AA41;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
	width: 140px;
	height: 40px;
	cursor: pointer;
	border: none;
	
}

