.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
	margin-top: 90px;
	margin-bottom: 90px;
}

.dog, .cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.dog div, .cat div {
    padding: 10px;
}

.dog div img, .cat div img {
    width: 100%;
    height: auto;
}

.dog div p, .cat div p {
	font-size: 20px;
	text-align: center;
}

p.name {
	background-color: #E5AA41;
	width: 200px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

